<div id="resultado">
    <img class="img-fluid" src="{{ 'SIGNOS.'+this.signo+'.IMG' | translate }}" alt="">

        <h1 class="text-light display-6 text-start">
            {{ this.name }}, você é do signo de  {{ 'SIGNOS.'+this.signo+'.TITULO' | translate }}
        </h1>
        <p>
            {{ 'SIGNOS.'+this.signo+'.TEXTO' | translate }}
            <br>
            <br>
            <b>Afinidades: {{ 'SIGNOS.'+this.signo+'.AFINIDADES' | translate }}</b>
        </p>
        <button id="botaoVoltar" class="btn btn-primary" (click)="this.voltar()">Voltar</button>
</div>

