#resultado {
    width: 80%;
    margin: 0 auto 20px auto;
    padding:2%;
    color: white;
    background-color: rgba($color: #000000, $alpha: 0.4);
    overflow: hidden;
}

#botaoVoltar {
    display: block;
    margin: auto;
}

img {
    width: 40%;
    float: right;
}