/* You can add global styles to this file, and also import other style files */
body {
    background-image: linear-gradient(to bottom, rgba(138, 250, 250, 0.582),
    rgba(0, 0, 0, 0.856)),url('./assets/fundo.png');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto;
    background-attachment: fixed;
}
